.home-btn-section {
  margin: auto;
  display: flex;
  justify-content: center;
}

.home-title {
  font-size: clamp(2.5rem, 8vw, 7rem);
  color: rgb(22, 22, 22);
  cursor: default;
  margin-bottom: 2rem;
}

.home-nav-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.096);
  box-shadow: 0.1rem 0.1rem rgba(128, 128, 128, 0.096);
  cursor: pointer;

  a {
    font-weight: 500;
    color: #000;
    text-decoration: inherit;
    font-size: 1.3rem;
  }
}

.home-nav-btn:hover {
  background-color: rgba(21, 55, 94, 0.171);
  box-shadow: 0.4rem 0.3rem 0.4rem 0.1rem rgba(12, 33, 56, 0.027);
  border: 1px solid rgba(21, 55, 94, 0);
  transition: all ease-in 0.3s;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 130px);
  align-items: center;
  text-align: center;
  padding: 1rem;
}
