.home-main {
  justify-content: center;
  display: flex;
  height: 90vh;
  align-items: center;
  text-align: center;
  margin: auto;
}

.home-icon-title {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 50px;
  align-items: center;

  img {
    height: 6rem;
  }

  h3 {
    font-size: 3rem;
    color: black;
  }
}

.home-btn-section {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 2rem 2rem;
}

.home-name-presentation {
  width: 40rem;
  h2 {
    height: 130px;
    margin-bottom: 0;

    color: black;
    font-size: 3rem;
    text-align: center;
  }

  p {
    height: 20px;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    margin: auto;
    display: flex;
    font-size: 1.5rem;
  }
}

.home-btn-section {
  button {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.home-btn-section:hover {
  button {
    transition: 1s ease-in-out;
    background-color: rgb(0, 17, 95);
  }
}
